<center>


<h1 class="subject-heading">What Subjects Are You Studying?</h1>
<form id="subjectList">
    <div class="subject-container">

   <div class="subject-sub-container">
        <input type="checkbox" id="math" >
        <label for="Math">Math</label>
    </div>

     <div class="subject-sub-container">
        <input type="checkbox" id="science">
        <label for="reScience">Science</label>
    </div>

   <div class="subject-sub-container">
        <input type="checkbox" id="humanities">
        <label for="humanities">Humanities</label>
    </div>

    <div class="subject-sub-container">
        <input type="checkbox" id="coding">
        <label for="coding">Coding</label>
    </div>

    <button id="submitSubject" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

<script src="/js/chooseSubjects.js"></script>
</center>