<h1>What Subjects Are You Studying?</h1>

<div id="subjectList">

    <input type="checkbox" id="math" >
    <label for="math">Math</label>
    <br>

    <input type="checkbox" id="science">
    <label for="science">Science</label>
    <br>

    <input type="checkbox" id="humanities">
    <label for="humanities">Humanities</label>
    <br>

    <input type="checkbox" id="coding">
    <label for="coding">Coding</label>
    <br>

    <button id="submitSubject" type="submit" class="btn btn-primary">Submit</button>
</div>