<div class="main_container flex">
  <div class="child_container child_container1">
    <div class="about-container">
      <p class="aboutUs">
        GetATutor is your new easiest way to schedule tutoring. We offer an array of subjects and grade
        levels that you may need tutoring for,
        and you can choose from our list of outstanding tutors.
      </p>
    </div>
  </div>
            
            {{!-- Dynamic Calendar for future development --}}

  <div class="calender-container">
    <center>
      <h1>Schedule a Session:</h1>
      {{#if loggedIn}}
      <div class="card">
        <form id="schedule-session" class="card-body scheduling-body">
          <label for="selected-subject">Select a Subject</label>
          <select name="subject-choices" id="subject-choices">
            <option value="Math">Math</option>
            <option value="Science">Science</option>
            <option value="Coding">Coding</option>
            <option value="Humanities">Humanities</option>
          </select>
          <br>

          <label for="selected-tutor">Select a Tutor</label>
          <select name="tutor-choices" id="tutor-choices">
            <optgroup label="Math">
              <option value="Professor Xavier">Professor Xavier</option>
            </optgroup>
            <optgroup label="Science">       
              <option value="Walter White">Walter White</option>
              <option value="Professor Xavier">Professor Xavier</option>
              <option value="Trinity Moss">Trinity Moss</option>
            </optgroup>
            <optgroup label="Coding">
              <option value="Professor Xavier">Professor Xavier</option>
              <option value="Trinity Moss">Trinity Moss</option>
            </optgroup>
            <optgroup label="Humanities">
              <option value="John Keating">John Keating</option>
            </optgroup>            
          </select>
          <br>

          <label for="date">Select a date:</label>
          <input type="date" id="date-choices" name="date" placeholder="Select Date"/>
          <br>

          <label for="appt-time">Choose an session time (opening hours 9:00am to 6:00pm):</label>
          <input id="appt-time" type="time" name="appt-time" min="09:00" max="18:00" value=""/>
          <span class="validity"></span>
          <br>

          <button type="submit" class="btn" id="scheduleBtn">Submit</button>
        </form>   
      </div>
        <br/>
      <div class="card appointment-display">
        <h3>Your new appointment:</h3>
        <h6>Subject:</h6>
        <p id="appointmentSubject"></p>
        <h6>Tutor:</h6>
        <p id="appointmentTutor"></p>
        <h6>Date:</h6>
        <p id="appointmentDate"></p>
        <h6>Time:</h6>
        <p id="appointmentTime"></p>
      </div>
      {{else}}
      <h4>Login or Signup to schedule an appointment</h4>
      {{/if}}
    </center>
  </div>

  <div class="customer-container">
    <div class="customer-sub-container">
      <center>
        <h1>Customer Reviews</h1>
      </center>
    </div>
    <div class="customer-sub-container-2">
      <div class="customer-tile">
        <div class="customer-img img-1"></div>
        <div class="customer-review">I received the best service I could have asked for.  My tutor was super professional to deal with and helped me a lot.</div>
      </div>
      <div class="customer-tile">
        <div class="customer-img img-2"></div>
        <div class="customer-review">The entire experience was so easy and friendly.  The price was very reasonable.  I don’t know what I would have done without them.</div>
      </div>
      <div class="customer-tile">
        <div class="customer-img img-3"></div>
        <div class="customer-review">I can’t say enough good things about the quality of this company.  Highly, highly recommend using them.</div>
      </div>
      <div class="customer-tile">
        <div class="customer-img img-4"></div>
        <div class="customer-review">They helped me a lot with my college coding class and would highly recommend them!</div>
      </div>
    </div>
  </div>

           
</div>
<div class="copyright">
  <div class="" style="">
    <center>
    <div class="">
        <p>© Copyright 2023. All rights reserved</p>
			</div>
    </center>
		</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/submit.js"></script>