  <div>
        <div class="main_container">
        <div class="child_container child_container1">
            <div class="sub_child_container">
                <span>what would you like help with?</span>
                <input type="text" placeholder="Type here..">
                <button class="btn-primary">Connect Now</button>
            </div>
        </div>
       </div>
    <div class="container">
    
        <p class="aboutUs">GetATutor is your new easiest way to schedule tutoring. We offer an array of subjects and grade levels that you may need tutoring for, <br>
          and you can choose from our list of outstanding tutors.
        </p>
    <h5>{{ format_date }}</h5>
    <h5>Calendar:</h5>

    </div>

 <h5>Upcoming sessions:</h5>
    <table>
      <tr>
        <th>Date</th>
        <th>Tutor</th>
        <th>Subject</th>
      </tr>

      <tr>
        {{!-- <td>{{ session date }}</td>
        <td>{{ tutor name }}</td>
        <td>{{ subject name }}</td> --}}
      </tr>
    </table>
    
  </div> 
