<h1>What Subjects Are You Studying?</h1>

<form id="reSubjectList">

    <input type="checkbox" id="reMath" >
    <label for="reMath">Math</label>
    <br>

    <input type="checkbox" id="reScience">
    <label for="reScience">Science</label>
    <br>

    <input type="checkbox" id="reHumanities">
    <label for="reHumanities">Humanities</label>
    <br>

    <input type="checkbox" id="reCoding">
    <label for="reCoding">Coding</label>
    <br>

    <button id="reSubmitSubject" type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/reChooseSubjects.js"></script>