{{!-- <h5>Upcoming sessions:</h5>
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Tutor</th>
        <th>Subject</th>
      </tr>

      <tr>
        <td>{{ dateChoice }}</td>
        <td>{{ session_time }}</td>
        <td>{{ tutorChoice }}</td>
        <td>{{ subject.math }}</td>
      </tr>
    </table>
   </div> --}}