<center>
    <h1 class="tutors">Tutors:</h1>
        
    {{#each tutorList as |tutor| }}
    <div class="card tutors">
        <div id="tutorProfile" class="card-body">
            <div id="tutorName" class="">
                <h3 class="card-title">{{tutor.name}}</h3>
            </div>

            <div id="subjectList" class="">
            
                <h5 class="card-subtitle">Im Teaching:</h5>
                {{#if subject.math}}
                <h6>Math</h6>
                {{/if}}
                {{#if subject.science}}
                <h6>Science</h6>
                {{/if}}
                {{#if subject.coding}}
                <h6>Coding</h6>
                {{/if}}
                {{#if subject.humanities}}
                <h6>Humanities</h6>
                {{/if}}

            </div>

            <div id="profile" class="">
                <p class="card-text">{{tutor.profile}}</p>
            </div>

            <div id = "email" class="">
                <a href="mailto:{{tutor.email}}">{{tutor.email}}</a>
            </div>

        </div>
    </div>
    {{/each}}
</center>
